<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516085197496-64jm8a0kraeuirlehfk973nqhqlfisc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516085197496-64jm8a0kraeuirlehfk973nqhqlfisc8</string>
	<key>API_KEY</key>
	<string>AIzaSyAU9h-11ZovOI9c0Td6JfCL38F84tIUBIE</string>
	<key>GCM_SENDER_ID</key>
	<string>516085197496</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterEapp</string>
	<key>PROJECT_ID</key>
	<string>e-commerce-8ba13</string>
	<key>STORAGE_BUCKET</key>
	<string>e-commerce-8ba13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516085197496:ios:50e840e794e06ac0a6e24d</string>
	<key>DATABASE_URL</key>
	<string>https://e-commerce-8ba13.firebaseio.com</string>
</dict>
</plist>